.sidebar.animated.fadeInDown
  .logo-title
    .title
      //- img(src= url_for('images/WechatIMG1.jpeg'),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p!= theme.description

  ul.social-links
    if theme.show_github !== false && theme.github
      li
        a(href=theme.github)
          i.fa.fa-github
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter)
          i.fa.fa-twitter
    if theme.instagram
      li
        a(href="http://instagram.com/" + theme.instagram)
          i.fa.fa-instagram
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa.fa-rss
    if theme.weibo
      li
        a(href="http://weibo.com/" + theme.weibo)
          i.fa.fa-weibo
    if theme.wechat
      li
        a(href=theme.wechat)
          i.fa.fa-wechat

    h3(title="")
    
    - var sidebarHasCategories = site.categories && site.categories.length
    - var sidebarHasTags = site.tags && site.tags.length
    if theme.show_tags !== false && (sidebarHasCategories || sidebarHasTags)
      li
        i.fa.fa-tag
        if sidebarHasCategories
          - site.categories.sort('posts').each(function(category) {
              a.tag(href=config.root + category.path, title= category.name)= category.name + " "
          - });
        if sidebarHasTags
          - site.tags.sort('posts').each(function(tag) {
              a.tag(href=config.root + tag.path, title= tag.name)= tag.name + " "
          - });

  include footer
