.sidebar.animated.fadeInDown
  .logo-title
    .title
      //- img(src= url_for('images/WechatIMG1.jpeg'),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p!= theme.description

  - var githubToggle = theme.show_github
  - var enableGithub = !(githubToggle === false || githubToggle === 'false' || githubToggle === 0 || githubToggle === '0')
  ul.social-links
    if enableGithub && theme.github
      li
        a(href=theme.github)
          i.fa.fa-github
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter)
          i.fa.fa-twitter
    if theme.instagram
      li
        a(href="http://instagram.com/" + theme.instagram)
          i.fa.fa-instagram
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa.fa-rss
    if theme.weibo
      li
        a(href="http://weibo.com/" + theme.weibo)
          i.fa.fa-weibo
    if theme.wechat
      li
        a.wechat-trigger(href="javascript:void(0);")
          i.fa.fa-wechat

    h3(title="")

    - var themeShowTags = theme.show_tags
    - var enableTags = !(themeShowTags === false || themeShowTags === 'false' || themeShowTags === 0 || themeShowTags === '0')
    - var sidebarHasCategories = site.categories && site.categories.length
    - var sidebarHasTags = site.tags && site.tags.length
    if enableTags && (sidebarHasCategories || sidebarHasTags)
      li
        i.fa.fa-tag
        if sidebarHasCategories
          - site.categories.sort('posts').each(function(category) {
              a.tag(href=config.root + category.path, title= category.name)= category.name + " "
          - });
        if sidebarHasTags
          - site.tags.sort('posts').each(function(tag) {
              a.tag(href=config.root + tag.path, title= tag.name)= tag.name + " "
          - });

      include footer

  if theme.wechat
    #wechat-modal.wechat-modal
      .wechat-modal__content
        span.wechat-modal__close &times;
        img.wechat-modal__image(src=theme.wechat, alt='WeChat QR code')

    script.
      document.addEventListener('DOMContentLoaded', function () {
        var trigger = document.querySelector('.wechat-trigger');
        var modal = document.getElementById('wechat-modal');
        if (!trigger || !modal) return;
        var closeBtn = modal.querySelector('.wechat-modal__close');
        var hide = function () { modal.classList.remove('is-active'); };
        trigger.addEventListener('click', function (event) {
          event.preventDefault();
          modal.classList.add('is-active');
        });
        closeBtn && closeBtn.addEventListener('click', hide);
        modal.addEventListener('click', function (event) {
          if (event.target === modal) hide();
        });
      });
