mixin make_post(item, is_detail)
	.post.animated.fadeInDown
		.post-title
			h3
				if is_detail
					a= item.title
				else
					a(href= url_for(item.path))= item.title
		if is_detail
			.post-content!= item.content
		//- else
		//- 	.post-content
		//- 		- var summary = item.summary || item.content
		//- 		p!= truncate(strip_html(summary), {length: 160})
		.post-footer: .meta
			.info
				i.fa.fa-sun-o
				span.date= date(item.date, 'YYYY-MM-DD')
				if theme.duoshuo || theme.disqus
					i.fa.fa-comment-o
					a(href= url_for(item.path + "#comments"))= __('Comments')
				- var themeShowTags = theme.show_tags
				- var enableTags = !(themeShowTags === false || themeShowTags === 'false' || themeShowTags === 0 || themeShowTags === '0')
				if enableTags
					- var hasCategories = item.categories && item.categories.length
					- var hasTags = item.tags && item.tags.length
					if hasCategories || hasTags
						i.fa.fa-tag
					if hasCategories
						- item.categories.sort('posts').each(function(category) {
							- var categoryPath = category.path;
							- if (item.lang === 'en' && categoryPath.indexOf('en/') !== 0)
								categoryPath = 'en/' + categoryPath;
								a.tag(href=config.root + categoryPath, title= category.name)= category.name + " "
						- });
					if hasTags
						- item.tags.sort('posts').each(function(tag) {
							- var tagPath = tag.path;
							- if (item.lang === 'en' && tagPath.indexOf('en/') !== 0)
								tagPath = 'en/' + tagPath;
								a.tag(href=config.root + tagPath, title= tag.name)= tag.name + " "
						- });


mixin make_pager()
	- var prev = page.prev_link
	- var next = page.next_link
	.pagination
		ul.clearfix
			if page.prev
				li.pre.pagbuttons
					a.btn(role="navigation",href=url_for(prev))= __('prev')
			if page.next
				li.next.pagbuttons
					a.btn(role="navigation",href=url_for(next))= __('next')

mixin postList()
	.archive
		- var rawPosts = page.posts || [];
		- var postsArray = rawPosts.toArray ? rawPosts.toArray() : rawPosts;
		- var currentLang = page.lang || (page.path && page.path.indexOf('en/') === 0 ? 'en' : (config.language ? config.language[0] : null));
		- var filteredPosts = postsArray.filter(function(item){
		- 	if (currentLang === 'en') return item.lang === 'en';
		- 	return !item.lang || item.lang === 'zh-CN' || item.lang === 'zh';
		- });
		- filteredPosts.sort(function(a, b){ return b.date - a.date; });
		- var year = 0;
		- var change = false;
		- var firstYear = true;
		- filteredPosts.forEach(function (item) {
			- var itemYear = date(item.date, 'YYYY') - 0;
			- change = year !== itemYear;
			- year = change ? itemYear : year;
			if change
				if firstYear
					| <div class="listing-title">
					!= year
					| </div><ul class="listing">
					- firstYear = false;
				else
					| </ul><div class="listing-title">
					!= year
					| </div><ul class="listing">
			
			.listing-item
				.listing-post
					a(href= url_for(item.path), title= item.title)= item.title
					div.post-time
						span.date= date(item.date, 'MM-DD')
		- })
