extends partial/layout

include mixins

block site_title
    != page.title + " · " + config.title

block description
    - var desc = page.desc || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);
    meta(name="description", content=desc)

block content
  .autopagerize_page_element: .content: .post-page
    include mixins
    +make_post(page, true)
    .post-ad
      ins.adsbygoogle(style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-1946575658110055" data-ad-slot="8561874775")
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
    - var prev = page.prev ? page.prev.path : false
    - var next = page.next ? page.next.path : false
    if prev || next
      .pagination
        ul.clearfix
          if prev
            li.pre.pagbuttons
              a.btn(role="navigation", href=url_for(prev), title=page.prev.title) 上一篇
          if next
            li.next.pagbuttons
              a.btn(role="navigation", href=url_for(next), title=page.next.title) 下一篇
    //- if page.comments
    //-     include partial/comments
